---
import GitHub from "./icons/GitHub.astro";
import JavaScript from "./icons/JavaScript.astro";
import Vite from "./icons/Vite.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  JS: {
    icon: JavaScript,
  },
  VITE: {
    icon: Vite,
  },
};
const PROJECTS = [
  {
    title: "BlackJack",
    description: "Juego de BlackJack desarrollado con JavaScript vanilla y Vite, implementando arquitectura modular y buenas prácticas de desarrollo.",
    link: "https://black-jack-adrirf7.vercel.app/",
    github: "https://github.com/adrirf7/BlackJack-adrirf7",
    imageDark: "/projects/dark/black-jack-dark.png",
    imageLight: "/projects/light/black-jack-light.png",
    tags: [TAGS.JS, TAGS.VITE],
  },
  {
    title: "Snake Game",
    description:
      "SPA desarrollada con JavaScript vanilla que implementa el juego Snake con controles táctiles para móviles, múltiples tamaños de tablero, sistema de puntuación en tiempo real y temas personalizables",
    link: "https://snake-adrirf7.vercel.app/",
    github: "https://github.com/adrirf7/snake-adrirf7",
    imageDark: "/projects/dark/snake-game-dark.png",
    imageLight: "/projects/light/snaker-game-light.png",
    tags: [TAGS.JS, TAGS.VITE],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ imageDark, imageLight, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <a href={link} target="_blank" rel="noopener noreferrer" class="w-full h-full">
              <img
                alt={title}
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 dark:hidden cursor-pointer"
                loading="lazy"
                src={imageLight}
              />
              <img
                alt={title}
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 hidden dark:block cursor-pointer"
                loading="lazy"
                src={imageDark}
              />
            </a>
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs py-1 px-1`}>
                    <tag.icon class="size-5" />
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
